/* account.module.css */

/* Main Container */
.main {
  padding: 40px 20px;
}

/* User Information Section */
.userInfo {
  margin-bottom: 40px;
}

.userInfo h1 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  margin-bottom: 10px;
}

.userInfo p {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.6;
}

/* New Styles for User Details */
.userDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.profilePicture {
  flex: 0 0 auto;
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
}

.profileBio {
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  max-width: 600px;
  text-align: left;
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.6;
}

.profileBio p {
  margin: 0;
}

/* Favorites Section */
.favoritesSection {
  margin-bottom: 40px;
}

/* Favorite Subsections */
.favoriteSubsection {
  margin-bottom: 30px;
}

/* Favorite Headers */
.favoriteHeader {
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: block;
  margin: 50px auto 15px auto;
  font-size: 1.0rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  width: fit-content;
}

/* Container for h3 and Add Button */
.favoriteHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    margin-top: 45px;
    margin-bottom: 15px;
  }
  
/* Favorite Headers */
.favoriteHeader {
    background-color: #ffffff;
    padding: 4px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 1.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Add Button */
.addButton {
    border: 1px solid #e0e0e0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 4px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    min-width: 32px;
}

.addButton:hover {
transform: scale(1.05);
}

.addButton:focus {
outline: 2px solid #333;
outline-offset: 2px;
}

/* Ensure SVG Icons Fit Within the Button */
.addButton svg {
width: 20px;
height: 20px;
fill: #333;
transition: fill 0.3s;
}

.addButton:hover svg {
fill: #C4EEE4;
}

/* Other Sections (Your Watchlists, Recently Watched) */
.otherSection {
  margin-bottom: 40px;
}

/* Responsive Adjustments */
@media (min-width: 700px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
