/* carousel.module.css */

.carouselContainer {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1vw;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.item {
  scroll-snap-align: start;
  flex-shrink: 0;
  list-style: none;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  min-width: 150px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.leftArrow:hover,
.rightArrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.leftArrow:focus,
.rightArrow:focus {
  outline: 2px solid #fff;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

.leftArrow:disabled,
.rightArrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
