.carouselContainer {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide overflow to ensure a clean layout */
  }
  
  .carousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, etc. */
  }
  
  .item {
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  
  .leftArrow,
  .rightArrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .leftArrow {
    left: 0;
  }
  
  .rightArrow {
    right: 0;
  }
  
  .leftArrow:disabled,
  .rightArrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  