/* Default Styling */

/* Body Styling */
body {
    background-color: #FFF8FB;
    font-family: Arial, sans-serif;
    color: #212121;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

/* Header Styling */
header {
    background-color: #EAC4CF;
    color: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h3 {
    color: #212121;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

header .title-link {
    text-decoration: none;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
}

header nav ul li button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header nav ul li a svg {
    fill: #212121;
    width: 8vw;
    height: auto;
    max-width: 48px;
    min-width: 24px;
}

header nav ul li button svg {
    fill: #212121;
    width: 8vw;
    height: auto;
    max-width: 48px;
    min-width: 24px;
}

header .buttons-wrapper {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 87%;
}

header .login, header .sign-up {
    padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    width: clamp(50px, 15vw, 200px);
    max-width: 100%;
}

header .login {
    background-color: #FFF2F8;
}

header .sign-up {
    background-color: #C4EEE4;
}

/* Menu Styling */
body.menu-open main, body.menu-open footer {
    filter: blur(6px);
}

body.menu-open header {
    filter: none;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25vw;
    z-index: 999;
}

.menu-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    position: relative;
}

.menu-content ul {
    list-style: none;
    padding: 0;
}

.menu-content ul li {
    margin: 10px 0;
}

.menu-content button {
    margin-bottom: 20px;
}

.menu-items {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(5px, 2vw, 10px);
    justify-items: center;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
}

.menu-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.menu-content ul li {
    margin: 0;
}

.menu-items li a,
.menu-items li button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
}

.menu-items li button.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.menu-items li span {
    font-size: 14px;
    color: #212121;
}

.menu-items li a svg {
    fill: #212121;
    width: 8vw;
    height: auto;
    max-width: 48px;
    min-width: 24px;
}

.menu-items li button svg {
    fill: #212121;
    width: 8vw;
    height: auto;
    max-width: 48px;
    min-width: 24px;
}

/* Main Section */
main {
    padding: 40px 20px;
}

h1 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}
  
p {
    font-size: clamp(1rem, 2vw, 1.25rem);
}

section {
    padding: var(--section-padding) var(--gutter-padding);
}

.section-rectangle {
    background-color: #FFE9F1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    background-color: #EAC4CF;
    color: #212121;
    padding: 10px;
    text-align: center;
    bottom: 0;
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 700px) {
    header .login, header .sign-up {
        padding: clamp(0.5rem, 1vw, 0.5rem) clamp(1rem, 2vw, 1.5rem);
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: clamp(0.9rem, 2.5vw, 1.1rem);
        width: clamp(50px, 15vw, 100px);
        max-width: 100%;
    }

    section {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }
}
