.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.rectangle {
  width: 100%;
  aspect-ratio: 150/200;
  max-width: 200px;
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
  
.text {
  font-size: 16px;
  color: #000;
  text-align: center;
  margin-top: 10px;
}
  
.itemLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
  
.itemLink:hover .rectangle {
  background-color: #c0c0c0;
}
  